.percentageHum{
    height: 75px;
    width: 400px;
    display: inline-block;
    position: fixed;
    top: 17%;
    left: 5%;
    box-shadow: 0 10px 10px 5px rgb(79,156,53,0.2);
    border-radius: 7px;

}

#imgHumidity{
    height: 75px;
    left: 15%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.percentageHum .percentageHum__container__percentage{
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 25px;
    position: flex;
    left: 50%;
    transform: translate(15%, -30%);

}