.waterPlants{
    height: 125px;
    width: 400px;
    display: inline-block;
    position: fixed;
    top: 75%;
    left: 5%;
    border-radius: 7px;
    box-shadow: 0 10px 10px 5px rgb(79,156,53,0.2);

}



.waterPlants .waterText{
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 25px;
    position: flex;
    left: 50%;
    transform: translate(15%, -30%);

}