.topBlock{
    background: rgba(255, 255, 255, 0.7);
    height: 529px;
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Showdriel', sans-serif;
    position: absolute;
}


@media screen and (max-width: 768px) {

    .topBlock{
        background: rgba(255, 255, 255, 0.7);
        height: 100%;
        margin-top: 10%;
        position: absolute;
    }
}