.percentageEarthHumidity{
    height: 100px;
    width: 400px;
    display: inline-block;
    position: fixed;
    top: 65%;
    left: 5%;
    box-shadow: 0 25px 25px 0 rgba(235, 193, 103, 0.2);
    border-radius: 7px;
}

#imagEarthHumidity{
    height: 60px;
    left: 15%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.percentageEarthHumidity .percentageEarthHumidity__container__percentage{
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 40px;
    position: flex;
    left: 50%;
    transform: translate(15%, -30%);

}