.percentageLight{
    height: 100px;
    width: 400px;
    display: inline-block;
    position: fixed;
    top: 45%;
    left: 5%;
    box-shadow: 0 25px 25px 0 rgba(225, 235, 88, 0.2);
    border-radius: 7px;
    border-width: 2px;
    border-color: #000;
    border-style: solid;
}

#imgLight{
    height: 60px;
    left: 15%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.percentageLight .percentageLight__container__percentage{
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 40px;
    position: flex;
    left: 50%;
    transform: translate(15%, -30%);

}