.percentageLight{
    height: 75px;
    width: 400px;
    display: inline-block;
    position: fixed;
    top: 30%;
    left: 5%;
    border-radius: 7px;
    box-shadow: 0 10px 10px 5px rgb(79,156,53,0.2);
}

#imgLight{
    height: 60px;
    left: 15%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.percentageLight .percentageLight__container__percentage{
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 25px;
    position: flex;
    left: 50%;
    transform: translate(15%, -30%);

}

@media screen and (max-width: 600px) {
    .percentageLight{
        height: 50px;
        width: 100px;
        left: 37%;
        top: 12%;
    }

    #imgLight{
        height: 30px;
        left: 20%;
        position: absolute;
        top: 50%;
    }

    .percentageLight .percentageLight__container__percentage{
        font-size: 10px;
        color: #000;
        margin-bottom: 2px;
        margin-top: 20px;
        position: flex;
        left: 90%;
    }
}