@import url('http://fonts.cdnfonts.com/css/crox');
@import url('http://fonts.cdnfonts.com/css/montblanc');

.login-container{
    background-color: #ffffff;
    height: 65vh;
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Crox', sans-serif;
    margin-left: 60%;
    border-radius: 20px;
    margin-top: 12%;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
}