#Progress_Status {
    width: 50%;
    background-color: #ddd;
    }
    
    #myprogressBar {
    width: 30%;
    height: 5px;
    background-color: red;
    text-align: center;
    line-height: 32px;
    color: black;
    }
    