@import url('http://fonts.cdnfonts.com/css/crox');
@import url('http://fonts.cdnfonts.com/css/montblanc');

#UserNameHeader{
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    font-family: 'Crox', sans-serif;

}

#PasswordHeader{
    font-size: 30px;
    font-family: 'Crox', sans-serif;
    
}

#login{
    border-radius: 7px;
    width: 500px;
    height: 515px;
    margin-top: 50px;
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #f6f4f4;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
    opacity: 90%;
}

#login h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 80px;
    font-family: 'Crox', sans-serif;
    margin-bottom: 5px;
}

#login ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#login li {
    float: none;
    padding: 8px;
    display: inline-block;
}


#register{
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Crox', sans-serif;
    border: none;
    width: 150px;
    cursor: pointer;

}

#register_button{
    background-color: #036848;
    border-radius: 7px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Crox', sans-serif;
    border: none;
    width: 150px;
    cursor: pointer;

}

#register_button:hover{
    background-color: #39720C;
    box-shadow: 3px 4px 5px rgb(0 0 0 / 50%);
    transition: 0.5s;
}

#register ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#register li {
    padding: 20px;
    float: none;
}

#LoginButton{
    background-color: #036848;
    border-radius: 5px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Crox', sans-serif;
    border: none;
    width: 150px;
    cursor: pointer;
}

#LoginButton:hover{
    background-color: #39720C;
    box-shadow: 3px 4px 5px rgb(0 0 0 / 50%);
    transition: 0.5s;
}

#cancel {
    padding: 6px;
    font-size: 14px;
    padding : 8px 30px;
    background-color: #a23535;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Crox', sans-serif;
    border: none;
    width: 150px;
    cursor: pointer;
}

#cancel:hover{
    background-color: #ff0000;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}

#username{
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border : none;
    width: 400px;
    position: relative;
    font-family: 'Crox', sans-serif;
    background-color: #efefef;
}

#username:hover{
    box-shadow: 3px 4px 5px rgb(0 0 0 / 50%);
}

#password{
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border : none;
    width: 400px;
    font-family: 'Crox', sans-serif;
    background-color: #efefef;

}

#password:hover{
    box-shadow: 3px 4px 5px rgb(0 0 0 / 50%);
    transition: 0.5s;

}

#confirmPassword{
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border : none;
    width: 400px;
    font-family: 'Crox', sans-serif;
}

#register_background{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
    padding : 10px 60px;
    font-size: 20px;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
    width: 500px;
    height: 515px;
    opacity: 0;
}

#register_background ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#register_background li {
    padding: 2px;
    float: none;
}

#join_header{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Crox', sans-serif;
    margin-bottom: 5px;
    margin-top: -5px;
}

#confirmPassword{
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border : none;
    width: 400px;
    font-family: 'Crox', sans-serif;
    background-color: #efefef;
}

@media screen and (max-width: 600px) {
    
    #login{
        width: 230px;
        height: 600px;
        padding: 20px;
        margin-top: 20px;
        padding : 10px 60px;
        font-size: 20px;
        margin-bottom: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #login ul{
        padding: 0;
    }

    #login li{
        padding: 15px;
        display: block;
    }
    #register_background{
        width: 800px;
    }

    #username{
        width: 100px;
        font-size: 15px;
    }

    #UserNameHeader{
        font-size: 25px;
    }

    
    #passwordHeader{
        font-size: 15px;
    }

    #password{
        width: 100px;
        font-size: 15px ;
    }


    #register{
        width: 100px;
        font-size: 20px;

    }

    #confirmPassword{
        width: 100px;
    }

    #LoginButton{
        width: 125px;
        font-size: 25px;        
    }

    #cancel{
        padding : 8px 20px;
        width: 200px;
    }

    #login h2{
        font-size: 22px;
    }

    #login{
        padding : 10px 30px;
        font-size: 15px;
    }

    #register_background{
        padding : 10px 30px;
        font-size: 35px;
        width: 300px;
        height: 600px;
    }

    #register_button{
        width: 125px;
        font-size: 25px;
    }
 


}