@import url('http://fonts.cdnfonts.com/css/showdriel');

header {
    background: rgb(79,156,53);
    background: linear-gradient(0deg, rgba(79,156,53,1) 0%, rgba(116,155,52,1) 52%, rgba(57,114,12,1) 100%);     color: #ffffff;
    padding: 1px;
    font-size: 8px;
    font-weight: bold;
    width: 100%;
    top: 0;
    cursor: default;
    position: fixed;
}

header h1{
    width: 300px;
    left: 600px;
    font-family: 'Showdriel', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 44px;
    color: #FFFFFF;
}

#header_logo{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 15px;
    bottom: 35px;
    display: inline-block;
}

.header_nav{
    position: absolute;
    width: 100%;
    height: 100%;
    
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    right: 60px;
}

.header_nav a{
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    font-family: 'Crox', sans-serif;

}

.header_nav a:hover{
    color: #82df40;
}

@media screen and (max-width: 600px) {
    header h1{
        font-size: 30px;
        text-align: center;
        left: 0;
        width: 100%;
    }
    body{
        text-align: center;
    }
    #header_logo{
        display: none;
    }
    .header_nav{
        justify-content: center;
    }
    .header_nav a{
        float: none;
        display: block;
        text-align: center;
        font-size: 10px;
    }
}