header {
    background-color: #39720C;
    color: #ffffff;
    padding: 1px;
    font-size: 8px;
    font-weight: bold;
    width: 100%;
    top: 0;
    cursor: default;
}

header h1{
    width: 297px;
    left: calc(50% - 297px/2 - 583.5px);
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #FFFFFF;
}

#header_logo{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 20px;
    bottom: 80px;
}