@import url('http://fonts.cdnfonts.com/css/showdriel');

footer {
    background-color: #39720C;
    color: #ffffff;
    padding: 1px;
    text-align: center;
    font-size: 10px;
    font-family: 'Showdriel', sans-serif;
    bottom: 0px;
    width: 100%;
    position: fixed;
    cursor: default;
}
