:root{
    --header-font: 'Showdriel', sans-serif;
    --body-font: 'Montblanc', sans-serif;
    --button-font: 'Crox', sans-serif;

}
.creatorProp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    margin-bottom: 10px;
    padding: 1px;
    list-style: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: var(--body-font);
}

.creatorProp .creatorProp-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 5%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}



.creatorProp .textContainer-CreatorProp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1px;
    list-style: none;
    border-radius: 10px;
    font-family: var(--body-font);
}

.creatorProp .textContainer-CreatorProp .creatorProp-name{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

.creatorProp .textContainer-CreatorProp .creatorProp-title{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
}

.creatorProp .textContainer-CreatorProp .creatorProp-description{
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;

}

#logosSocial{
    height: 25px;
}


@media screen and (max-width: 768px) {
    #logosSocial{
        height: 15px;
    }
    .creatorProp {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 150px;
        margin-bottom: 8px;
        padding: 1px;
        list-style: none;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: var(--body-font);
    }

    .creatorProp .creatorProp-image {
        width: 45px;
        height: 45px;
        border-radius: 10px;
        margin-left: 5%;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        margin-top: 10px;
    }

    .creatorProp .textContainer-CreatorProp .creatorProp-name {
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: center;
    }

    .creatorProp .textContainer-CreatorProp .creatorProp-title {
        font-size: 5px;
        font-weight: 400;
        margin-bottom: 5px;
        text-align: center;
    }

    .creatorProp .textContainer-CreatorProp .creatorProp-description {
        font-size: 5px;
        font-weight: 300;
        margin-bottom: 10px;
        text-align: center;
    }

}
