.plantStatus_container{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    margin-top: 1%;
    background-color:rgba(108, 134, 65, 0.5);;
}

#svgStatus{
    height: 100%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    .plantStatus_container{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: inline-block;
        position: fixed;
        top: 50%;
        left: 50%;
    }
}