.plantStatus_container{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 600px) {
    .plantStatus_container{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: inline-block;
        position: fixed;
        top: 50%;
        left: 50%;
    }
}