.chart_container{
    height: 680px;
    width: 1280px;
    position: fixed;
    top: 15%;
    left: 8%;
}

@media screen and (max-width: 768px) {
    .chart_container{
        height: 78%;
        width: 90%;
        position: absolute;
        
        left: 5%;
        top : 15%;
    }
}